@font-face
{
font-family: はれのそら明朝;
src: url('https://cdn.leafscape.be/Harenosora/harenosora_web.woff2')
     format("woff2");
}


body {
  background: url('../img/main_bg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}




.br_on {
  display: none;
}

.br_eak {
  display: none;
}

.bre_ak {
  display: none;
}


/*footer*/

footer {
  background:url('../img/wall_bg.png');
  font-size:12px;
  line-height:14px;
  padding-top:10px;
}
footer ul {
  list-style: none;
}

footer ul li {
  display:inline-block;
  padding-right:10px;
  padding-left:10px;
  border-right:1px solid #000;
}

footer ul li:nth-last-child(1) {
  border-right:none;
}

footer ul li a {
  color:black;
}
/*footer*/

.open {
  background: #efa2a2;
}

.panel-title {
  color:white;
  text-align:center;
  padding:10px 0;
  text-decoration: underline;
}


.section_01 h1, .word-of-mouth {
  font-family: ten-mincho-text, serif;
  font-weight: normal;
}

/* shop button */

.container {
  position:relative;
}
.shop img {
  position: fixed;
    width: 100px;
    height: 100px;
    top: 0;
    right: -20px;
    z-index: 999;
}


.top-banner {
  background-image: linear-gradient(to right, #b9d7e2, #cee0ec, #e1e9f3, #f2f4f9, #ffffff);
  position: relative;
  text-align: center;
}
.top-banner h1{
  /* background:white; */
  color:#1f7c9b;
  font-size:3em;
  font-style: italic;
  font-family: はれのそら明朝, serif;
  font-weight: 400;
  font-style: normal;
}

.top-banner .top-banner-text {
  background:white;
  padding:10px 5px;
  width:100%;
  float:none;
}

.img-area .left {
  /* background:red; */
  width:65.45%;
  max-width:720px;
  float: left;
}

.img-area .right {
  background:#fff;
  width:34.55%;
  max-width:380px;
  float: right;
}

.img-area .right img.top-thumbnail {
  width:95%;
  max-width:360px;
  margin: 0 auto;
}

/* .top-banner ul {
  list-style-type: none;
  background:#fff;
  margin:0 auto;
}

.top-banner ul li {
  font-size:30px;
  padding-right:20px;
  padding-top:10px;
  padding-bottom:5px;
  
} */

.top-banner h3 {
  background:#fff;
  font-weight: bold;
}

/*word-of-mouth*/
.word-of-mouth {
  background: linear-gradient(#a5d1e0 0%, #fff 100%);
}

.word-of-mouth h3{
  font-family: ten-mincho-text, serif;
  font-weight: bold;
  text-align: center;
  text-decoration:underline;
  margin:20px;
}

.word-of-mouth .voices {
  margin:20px auto;
}

.word-of-mouth .female {
  margin:10px 0;
}

.word-of-mouth .female .testimonials {
  max-height: 96px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding:10px;
}

.word-of-mouth .female .testimonials h6, .word-of-mouth .female .testimonials p {
  font-size:14px;
}




/* subscription-warning */
.subscription-warning {
  background: linear-gradient(#b9d7e2 0%, #8ab7ef 100%);
  font-family: ten-mincho-text, serif;
  padding:4vh;
}


.subscription-warning h4{
  text-align:center;
  /* padding:20px; */
}
.subscription-warning h4 span{
  background: white;
  color: #ead875;
  text-align: center;
  font-size:1.25em;
  padding:20px;
  border-radius: 10px;
  box-shadow:0 3px 6px rgba(0, 0, 0, 0.6);
}

.subscription-warning h5 {
  font-size:2em;
  margin-top:20px;
  text-align:center;
}

.subscription-warning p {
  text-align: center;
  font-size:1.25em;
}

/* stylist-evaluation */
.stylist-evaluation {
  font-family: ten-mincho-text, serif;
  text-align: center;
  background: url('../img/wall_bg.png');
  background-size: cover;
  padding:30px;
}

.stylist-evaluation .stylist {
  margin:2vh 0;
}

.stylist-evaluation .stylist .testimonials{
  margin:2vh 0;
}

.stylist-evaluation h4 {
  margin:10vh 0;
}

/* section_001 */
.section_001 {
  background: linear-gradient(#fff 0%, #6cbcd8 100%);
  font-family: ten-mincho-text, serif;
  text-align: center;
  padding:30px;
}
.section_001 h4 {
  color:#A882B0;
}

.section_001 h4 {
  color:#A882B0;
}

.section_001 h6 {
  font-size: 1em;
  margin:10px auto;
}

.section_001 h3 {
  color:#fff;
  font-size:2.5em;
}

/* .section_002 */
.section_002 {
  background: linear-gradient(#fff 0%, #bfbfbf 100%);
  font-family: ten-mincho-text, serif;
}

.section_002 h2 {
  text-align:center;
  padding:30px;
}

.section_002 p {
  text-align:center;
  line-height:2em;
}

/* section_003 */
.section_003 {
  background:url("../img/tokioinkarami.png");
  background-size:cover;
  background-position: center;

  font-family: ten-mincho-text, serif;
  /* background-color:grey; */
  padding: 100px;
}

.section_003 .text_003 {
  background: rgba(255, 255, 255, 90%);
  width:50%;
  max-width:560px;
  height:400px;
  padding:6vh 40px;
  text-align: center;
}

.section_003 .text_003 h5 {
  line-height: 2em;
  font-size:1em;
}

/* そもそもインカラミって？ */
.what_is_inkarami {
  text-align: center;
  font-family: ten-mincho-text, serif;
  background: rgba(235, 235, 235, 100%);
}

.what_is_inkarami h2 {
  font-size:3em;
}


.what_is_inkarami h3 {
  font-weight:bold;
  font-size: 2.5em;
  margin-top: 100px;
}
.what_is_inkarami p {
  font-size:1.5em;
  line-height:2em;
}

.what_is_inkarami h4 {
  margin:100px 0;
}

.inkarami_1_2 {
  background:pink;
  padding:40px 20px;
  font-family: ten-mincho-text, serif;
}

.inkarami_1_2 p {
  font-size:1.5em;
  text-align: center;
  color:white;
}

.inkarami_1_2 h5 {
  font-size:1em;
  text-align: center;
  width:72.7%;
  margin:20px auto;
  padding:20px 30px;
  background:rgba(229, 229, 229, 0.8);
}

.inkarami_1_2 .graph {
  width: 87%;
  max-width:480px;
  margin:0 auto;
  background:rgb(255, 255, 255);
  text-align: center;
}

.inkarami_1_2 .graph p{
  text-align: left;
  font-size:10px;
  color:rgb(0, 0, 0);
}

.inkarami_1_2 .graph h6{
  text-align: left;
  font-size:14px;
}


.inkarami_3_4 {
  line-height: 3em;
  color:white;
  padding:8vh 0;
  background:grey;
  text-align:center;
  font-family: ten-mincho-text, serif;
}

.inkarami_3_4 h6 {
  font-size:1.5em;
  line-height: 2em;
}

.inkarami_3_4 h6 strong, .inkarami_3_4 p span {
  font-size:1.5em;
  color:#c93f25;
}

.inkarami_3_4 p {
  font-size:1.5em;
}

.inkarami_3_4 p {
  font-size:1.5em;
}

/* フラーレン 18MEA セラミド*/
.ceramide-18MEA-fullerene {
  background:grey;
}

.three-pillars {
  background:white;
  border:1px solid black;
  box-shadow:3px 3px 3px;
  width:90%;
  margin:0 auto;
  text-align: center;
  height:420px;
  padding:40px 10px;
  margin:40px auto;
  font-family: ten-mincho-text, serif;
}

/* インカラミの仕組み */
.how_inkarami_works {
  background: linear-gradient(#a5d1e0 0%, #fff 100%);
  padding:4vh;
  font-family: ten-mincho-text, serif;
}

.how_inkarami_works h2 {
  text-align: center;
  font-size:1.5em;
}

.how_inkarami_works p {
  font-size:1.5em;
  text-align: center;
  margin:4vh auto 1vh;
}

.how_inkarami_works p span {
  font-size:1.5em;
}

.how_inkarami_works p .span02 {
  color: #8a5a97;
}

.how_inkarami_works h4 {
  font-size:2em;
  text-align:center;
  margin:2vh auto 4vh;
}

.how_inkarami_works h4 strong {
  color:#8a5a97;
}

.how_inkarami_works h4 span {
  font-size: 1.5em;
  color: #8a5a97;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.39);
}

/* section001 */
.section001 {
  background: url('../img/wall_bg.png');
  padding:40px;
}

.section001 p {
  font-size:1.5em;
  line-height:2em;
  text-align: center;
  font-family: ten-mincho-text, serif;
}

.section001 p span {
  font-weight:bold;
  font-size:1.5em;
}

/* section002 */
.section002 {
  background:white;
}

.section002 .text {
  border-radius: 10px 10px 0px 0px;
  background: linear-gradient(#678fbf 0%, #b4ddeb 100%);
  box-shadow: 5px 3px 6px rgba(0, 0, 0, 0.54);
  text-align: center;
  font-family: ten-mincho-text, serif;
  padding:20px;
  margin:4vh auto;
}

.section002 .text h3 {
  font-weight:bold;
  color:#ead875;
  font-size:2em;
}

.section002 .text p {
  font-size:1.5em;
  color: white;
}

.section002 .text p strong {
  color: #c93f25;
}

.section {
  display: none;
  height:73vh;
  margin-top: 3vh;
}

.purchase {
  padding:30px 0;
}




.purchase .select {
  text-align:center;
  /* margin:30px auto; */
  /* background:rgba(0, 0, 0, 0.5); */
}


.purchase .select h3{
  font-size: 1.25em;
  text-align:center;
  text-decoration: underline;
  margin-bottom:20px;
}

.purchase .select h5 {
  font-size:0.75em;
  line-height: 1.5em;
  text-align:center;
}

.purchase .column {
  width:100%;
  margin:0 auto;
  background:#fff;
  padding:40px 10px;
  box-shadow: 2px 5px 3px rgba(105, 105, 105, 0.4);
}

.purchase .platinum a {
  padding:20px 10px;
  border:1px solid #73664E;
  margin-bottom:10px;
  color:white;
  border-radius:5px;
  background: rgb(240,240,240);
  background: linear-gradient(180deg, rgba(214,214,214,1) 0%, rgba(181,181,182,1) 100%);
}

.purchase .platinum a:hover {
  background: #9a9a9a;
  text-decoration:none;
}

.purchase .premium a {
  padding:20px 10px;
  border:1px solid #73664E;
  margin-bottom:10px;
  color:white;
  border-radius:5px;
  background: rgb(246,223,149);
  background: linear-gradient(180deg, rgba(246,223,149,1) 0%, rgba(206,167,57,1) 100%);
}

.purchase .premium a:hover {
  background: rgba(181,140,29,1);
  text-decoration:none;
}

.purchase .head-spa a {
  padding:20px 10px;
  border:1px solid #73664E;
  margin-bottom:10px;
  color:white;
  border-radius:5px;
  background: rgba(142,71,186,1);
  background: linear-gradient(180deg, rgba(181,107,227,1) 0%, rgba(142,71,186,1) 100%);
}

.purchase .head-spa a:hover {
  background: rgba(81,40,106,1);
  text-decoration:none;
}

.purchase .head-spa {
  border:3px double #51286A;
}

.purchase .premium, .purchase .platinum {
  border:3px double #73664E;
}

.purchase .head-spa h3 {
  color: #51286A;
}

.premium-banner {
  background: rgb(246,223,149);
  background: linear-gradient(180deg, rgba(246,223,149,1) 0%, rgba(206,167,57,1) 100%);
  color:white;
  padding:20px;
}

.premium-banner h2, .platinum-banner h2, .head-spa-banner h2 {
  font-size:2em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-align:center;
}

.premium-banner h2 span, .platinum-banner h2 span, .head-spa-banner h2 span {
  font-size:1.25em;
}

.platinum-banner {
  background: rgb(240,240,240);
  background: linear-gradient(180deg, rgba(240,240,240,1) 0%, rgba(181,181,182,1) 100%);
  color:white;
  padding:20px;
}

.head-spa-banner {
  background:#3E2855;
  color:white;
  padding:20px;
}

.space {
  background:#fff;
  padding:20px;
}

.space h4 img {
  box-shadow: 3px 6px 4px #9a9a9a;
}


/* shampoo-treatment */
.st500 {
  background-image: linear-gradient(to left bottom, #ffffff, #e2e3f0, #c1c8e1, #9cafd3, #7098c4);
}

.st900 {
  background-image: linear-gradient(to right bottom, #ffffff, #ececfb, #d4dbf7, #b7cbf3, #93bdef);
}

.shampoo-treatment h3 {
  font-family: ten-mincho-text, serif;
  text-align: center;
  margin-top:30px;
  font-size:1.5em;
}

.shampoo-treatment-item {
  width:80%;
  max-width:450px;
  margin:30px auto;
  /* background-color: #efa2a2; */
  text-align: center;
}

.shampoo-treatment-item p {
  font-size: 0.9em;
  font-family: "Hiragino Mincho ProN";
  color:#fff;

}

.shampoo-treatment-item p em {
  font-size:1.25em;
  font-style: normal;
  padding:0 5px;
}

.shampoo-treatment-item p strong {
  text-decoration: line-through;
  color: red;
}

.shampoo-treatment-item p strong span {
  color:#fff;
  font-size:2em;
}

.shampoo-treatment-purchase {
  width:80%;
  max-width:450px;
  margin:10px auto;
  /* background-color:grey; */
  text-align: center;
}
.shampoo-treatment-purchase .shampoo-treatment-subscription p {
  /* width: 240px; */
  height: 40px;
  background: #fdf0a6;
  border: 10px double #707070;
  font-family: "Hiragino Mincho ProN";
}

.shampoo-treatment-purchase .shampoo-treatment-subscription-price p {
  color: white;
  font-size:0.9em;
  font-family: "Hiragino Mincho ProN";

}

.shampoo-treatment-purchase .shampoo-treatment-subscription-price p span {
  color: #fdf0a6;
}

.shampoo-treatment-purchase .shampoo-treatment-subscription-price p strong {
  font-size:2.25em;
}

.shampoo-treatment-purchase .subscription-purchase {
  width:100%;
  max-width: 360px;
  height: 48px;
  background: linear-gradient(#efa2a2 0%, #fe6a8d 100%);
  border: 1px solid #707070;
  filter: drop-shadow(3px 3px 7px rgba(0, 0, 0, 0.45));
  border-radius: 10px;
  color:white;
}

.shampoo-treatment-purchase .purchase {
  width:100%;
  max-width: 360px;
  height: 48px;
  border-radius: 10px;
  background: #8d5a97;
  border: 1px solid #707070;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.45);
  color:white;
}

.shampoo-treatment-purchase .btn {
  margin: 20px auto 10px;
}





/*subscription*/

.subscription {
  background: white;
  text-align: center;
  padding:20px;
}

.subscription img.product {
  margin: 0 auto;
}

.subscription .limited-for-subscription-only {
  max-width: 480px;
  max-height: 264px;
  background: linear-gradient(#1f7c9b 0%, #068dbc 100%);
  filter: drop-shadow(5px 3px 6px rgba(0, 0, 0, 0.54));
  position:relative;
  border-radius: 10px 10px 0 0;
  margin: 30px auto;
  position: relative;
}

.subscription .limited-for-subscription-only .bargain {
  position: absolute;
  top: -40px;
  left: -20px;
}

.subscription .limited-for-subscription-only h5 {
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro";
  text-align: center;
  color: rgb(234,216,117);
  padding-top:20px;
}

.subscription .limited-for-subscription-only p {
  font-family: ten-mincho-text, serif;
  font-weight: normal;
  text-align: center;
  color:white;
}

.subscription .limited-for-subscription-only .center {
  margin:0 auto;
  max-width:360px;

}

.subscription .limited-for-subscription-only .center button {
  width:65%;
  max-width: 360px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(#efa2a2 0%, #fe6a8d 100%);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.45);
  color:#fff;
  margin-bottom:40px;
}




/* Trial Set トライアルセット */
.ts01 {
  background-image: linear-gradient(to left bottom, #ffffff, #e7e8f1, #cdd2e3, #b0bdd5, #90a9c7);
}

.ts02 {
  background-image: linear-gradient(to right bottom, #ffffff, #e0e0ee, #bdc3de, #95a8cf, #678fbf);
}

.trial-set {
  padding:30px;
}
.trial-set h2 {
  font-family: ten-mincho-text, serif;
  text-align: center;
  margin-bottom:2vh;
}

.trial-set .trial-set-item {
  width:70%;
  max-width:350px;
  margin:0 auto;
  /* background:red; */
  text-align: center;
}

.trial-set .trial-set-item h3 {
  font-family: "Hiragino Mincho ProN";
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  color: #fff;
}

.trial-set .trial-set-item p {
  font-family: "Hiragino Mincho ProN";
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.trial-set .trial-set-item p span {
  font-size: 32px;
}

.trial-set .trial-set-item p strong {
  color: #fdf0ac;
}


/* 単体購入 */
.one-by-one {
  background: url('../img/wall_bg.png');
  background-size: cover;
}
.one-by-one h2 {
  text-align: center;
  font-family: ten-mincho-text, serif;
  color: #6890C0;
  margin:20px;
}

.one-by-one .purchase-one-by-one {
  padding:2vh;
}

.one-by-one .purchase-one-by-one h2 {
  text-align:center;
  display: block;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
}

.one-by-one .purchase-one-by-one h2.content-desktop-tablet {
  display:block;
}

.one-by-one .purchase-one-by-one h2.content-mobile {
  display: none;
}



.one-by-one .purchase-one-by-one .btn {
  width:65%;
  max-width: 360px;
  height: 48px;
  border-radius: 10px;
  background: #8d5a97;
  border: 1px solid #0a0a0a;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.45);
  color:white;
  margin:20px auto;
}

.one-by-one .purchase-one-by-one .btn:hover {
  text-decoration: underline;
  color: white;
}


/* purchase_and_shipment_details */
.purchase_and_shipment_details {
  background:#fff;
}

.purchase_and_shipment_details h2 {
  text-align: center;
  padding:40px 0 10px;
}

.purchase_and_shipment_details .details h2 span {
  height: 40px;
  background: #678fbf;
  border: 1px solid #707070;
  text-align:center;
  margin:20px auto;
  padding:10px 20px;
  font-family: ten-mincho-text, serif;
  color: white;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.45);
}



.purchase_and_shipment_details h3 {
  font-family: ten-mincho-text, serif;
  font-size:1.25em;
  text-align: center;
}

.purchase_and_shipment_details h3 span {
  font-size:1.25em;
  font-weight:bold;
  padding:0 10px;
  background: linear-gradient(transparent 60%, #F892A3 0%);
  -ms-transform: rotate(-20deg); /* IE 9 */
  transform: rotate(-20deg);
}

.purchase_and_shipment_details p {
  font-family: ten-mincho-text, serif;
  text-align: center;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > .col, .no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

/* Tablet 992px → 768px */
@media (max-width: 992px) {
  .br_eak {
    display: block;
  }

  /* .top-banner ul li {
    
    display: flex;
    width:100%;
    justify-content: center;
  } */

  .top-banner h3 {
    font-size:1.25em
  }

  .subscription .limited-for-subscription-only p {
    font-size:0.8em;
  }

  .word-of-mouth .female .testimonials h6, .word-of-mouth .female .testimonials p {
    font-size: 10px;
  }

  .word-of-mouth h3 {
    font-size: 1.25em;
  }

  .stylist-evaluation h4 {
    margin:10vh 0;
  }

  .stylist-evaluation h5 {
    margin:5vh 0;
  }

  .testimonials p {
    font-size:0.9em;
  }

  .stylist-evaluation h5 {
    font-size: 1.1em;
  }

  .reverse{
    display:flex;
    flex-direction: column;
  }

  .reverse div:nth-child(1){
    order:2;
  }
 
  .reverse div:nth-child(2){
    order:1;
  }

  .section_001 h3 {
    font-size: 2em;
  }

  .section_002 p {
    text-align: center;
    line-height: 2em;
    font-size: 0.75em;
  }

  .section_003 .text_003 {
    font-size:1em;
    width:66%;
    max-width:660px;
    margin:0 auto;
  }

  .what_is_inkarami p {
    font-size:1em;
    padding-top:10px;
  }

  .what_is_inkarami h2 {
    font-size: 2.5em;
  }

  .inkarami_1_2 h5 {
    width:100%;
    padding:20px;
  }

  .inkarami_3_4 h6 {
    font-size: 1em;
  }

  .inkarami_3_4 p {
    font-size: 1.25em;
  }

  .how_inkarami_works h2 {
    text-align: center;
    font-size: 1.1em;
  }

  .how_inkarami_works p span {
    font-size: 1em;
  }

  .section001 p {
    font-size: 1.25em;
  }

  .section001 p span {
    font-size: 1.25em;
  }
  .shampoo-treatment-item {
    width: 96%;
  }
  .trial-set .trial-set-item {
    width: 95%;
  }

 }



 @media (max-width: 575.98px) { 
  .mobile-profile-image {
    padding:1vh;
    margin:0 auto 2vh;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  }

  /*  */
}